In [22]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

Deliverable 1: Replace the reading and math scores.
Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [24]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df['grade']=='9th') & (student_data_df['school_name']=='Thomas High School'),'reading_score'] = np.nan

#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df['grade']=='9th') & (student_data_df['school_name']=='Thomas High School'),'math_score'] = np.nan

#  Step 4. Check the student data for NaN's. 
student_data_df.loc[(student_data_df['grade']=='9th') & (student_data_df['school_name']=='Thomas High School')]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37537,37537,Erik Snyder,M,9th,Thomas High School,NaN,NaN
37538,37538,Tanya Martinez,F,9th,Thomas High School,NaN,NaN
37539,37539,Noah Erickson,M,9th,Thomas High School,NaN,NaN
37540,37540,Austin Meyer,M,9th,Thomas High School,NaN,NaN
37543,37543,Madison Hampton,F,9th,Thomas High School,NaN,NaN
...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,NaN
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,NaN
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,NaN
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN

Deliverable 2 : Repeat the school district analysis District Summary

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
0	0	Paul Bradley	M	9th	Huang High School	66	79	0	District	2917	1910635
1	1	Victor Smith	M	12th	Huang High School	94	61	0	District	2917	1910635
2	2	Kevin Rodriguez	M	12th	Huang High School	90	60	0	District	2917	1910635
3	3	Richard Scott	M	12th	Huang High School	67	58	0	District	2917	1910635
4	4	Bonnie Ray	F	9th	Huang High School	97	84	0	District	2917	1910635

In [ ]:

[7]



# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()
[8]



# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()
[9]



# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 


# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.

[10]



# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
[11]



# Step 3. Calculate the passing percentages with the new total student count.

[12]



# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.

[14]



# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])

School Summary
[15]



# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

[16]



# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,

[17]



# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df
[18]



# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).

[19]



# Step 6. Get all the students passing math from THS

[20]



# Step 7. Get all the students passing reading from THS

[21]



# Step 8. Get all the students passing math and reading from THS

[22]



# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 

[23]



# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.

[24]



# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 


[25]



# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

[26]



# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.

[27]



# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.

[28]



# per_school_summary_df
High and Low Performing Schools
[29]



# Sort and show top five schools.

[30]



# Sort and show top five schools.

Math and Reading Scores by Grade
[31]



# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

[32]



# Combine each Series for average math scores by school into single data frame.

[33]



# Combine each Series for average reading scores by school into single data frame.

[34]



# Format each grade column.

[35]



# Remove the index.


# Display the data frame

[36]



## Remove the index.


# Display the data frame

Scores by School Spending
[37]



# Establish the spending bins and group names.


# Categorize spending based on the bins.

[38]



# Calculate averages for the desired columns. 

[39]



# Create the DataFrame

[40]



# Format the DataFrame 

Scores by School Size
[41]



# Establish the bins.

# Categorize spending based on the bins.

[42]



# Calculate averages for the desired columns. 

[43]



# Assemble into DataFrame. 

[44]



# Format the DataFrame  

Scores by School Type
[45]



# Calculate averages for the desired columns. 

[46]



# Assemble into DataFrame. 

[47]



# # Format the DataFrame

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
schools_data_df = pd.read_csv("Resources/schools_complete.csv")
student_data_df = pd.read_csv("Resources/students_complete.csv")

In [ ]:
schools_data_df

In [ ]:
student_data_df

In [ ]:
#student_data.count()

student_data_df.isnull().sum()

In [ ]:
schools_data_df.dtypes

In [ ]:
student_data_df.dtypes

In [ ]:
## Move student_names to a list

student_name_ls = student_data_df["student_name"].tolist()

In [ ]:
## split student_names and count substring parts - VISUAL

for name in student_name_ls:
    print(name.split(), len(name.split()))

In [ ]:
## copy names with more than 2 parts to the 'students_to_fix' list 

students_to_fix = []

for name in student_name_ls:
    if len(name.split()) >=3:
        students_to_fix.append(name)

## copy the Prefixes only to the 'prefixes' list
prefixes = []

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

## copy the Suffixes only to the 'suffixes' list
suffixes = []

for name in students_to_fix:
    if len(name.split()[-1]) <= 3: 
        suffixes.append(name.split()[-1])

## view distinct values from 'prefixes' list
set(prefixes)

In [ ]:
## view distinct values from 'suffixes' list
set(suffixes)

In [ ]:
## add distinct values from the Prefixes and Suffixes lists to new 'prefix_suffix' list
prefix_suffix = [' DDS',' DVM',' MD',' PhD','Dr. ','Miss ','Mr. ','Mrs. ','Ms. ']
prefix_suffix

In [ ]:
## replace all 'prefixes' and 'suffixes' with "" to remove them

for word in prefix_suffix:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

## create list of 'clean_names' and print to screen for validation 
clean_names = student_data_df["student_name"].tolist()

students_fixed = []

for name in clean_names:
    if len(name.split()) >=3:
        students_fixed.append(name)

In [ ]:
sample = [students_fixed[0:11]]
sample

## Yay! Everyone in "students_fixed" list has more than a first and last name, but it's an appropriate suffix

In [ ]:
student_data_df

In [ ]:
clean_students_df = pd.read_csv("Resources/clean_students_complete.csv")
clean_students_df

In [ ]:
school_data_complete_df = pd.merge(clean_students_df, schools_data_df, on=["school_name", "school_name"])
school_data_complete_df

In [ ]:
## get the total number of students
student_count = school_data_complete_df.count()
student_count

In [ ]:
school_count = schools_data_df.school_name.count()
school_count

In [ ]:
## calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
total_schools = len(school_data_complete_df["school_name"].unique())
total_schools

In [ ]:
##calculate the total budget
total_budget = schools_data_df['budget'].sum()
total_budget

In [ ]:
## find the average reading score
avg_reading = school_data_complete_df['reading_score'].mean()
avg_reading

In [ ]:
## find the average match score
avg_math = school_data_complete_df['math_score'].mean()
avg_math

In [ ]:
## add students with passing math scores to new DFs
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >=70]
passing_math

In [ ]:
## add students with passing reading scores to new DFs
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >=70]
passing_reading

In [ ]:
## total students with passing_math score
passing_math_count = passing_math["student_name"].count()

## total students with passing_reading score
passing_reading_count = passing_reading['student_name'].count()

In [ ]:
print(passing_math_count)
print(passing_reading_count)

In [ ]:
student_count = school_data_complete_df['Student ID'].count()
student_count

In [ ]:
passing_math_percentage = passing_math_count/float(student_count) *100
passing_math_percentage

In [ ]:
passing_reading_percentage = passing_reading_count/float(student_count) *100
passing_reading_percentage

In [ ]:
passed_both = school_data_complete_df[(school_data_complete_df['reading_score'] >=70) & (school_data_complete_df['math_score'] >=70)]
passed_both

In [ ]:
passed_both_count = passed_both.student_name.count()
passed_both_count

In [ ]:
passed_both_percentage = passed_both_count / student_count *100
passed_both_percentage