In [2]:
import pandas as pd 
import numpy as np

In [3]:
schools_data_df = pd.read_csv("Resources/schools_complete.csv")
student_data_df = pd.read_csv("Resources/students_complete.csv")

In [4]:
schools_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [6]:
#student_data.count()

student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [7]:
schools_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [8]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [9]:
## Move student_names to a list

student_name_ls = student_data_df["student_name"].tolist()

In [10]:
## split student_names and count substring parts - VISUAL

for name in student_name_ls:
    print(name.split(), len(name.split()))

'] 2
['Savannah', 'Smith'] 2
['Heather', 'Hunter'] 2
['Lisa', 'Tucker'] 2
['Renee', 'Moore'] 2
['Nicole', 'White', 'MD'] 3
['Keith', 'King'] 2
['Amanda', 'Skinner', 'MD'] 3
['Marcus', 'Wallace'] 2
['James', 'Horton'] 2
['Darrell', 'Simpson'] 2
['Diane', 'Rush'] 2
['Christine', 'Guerrero'] 2
['Rita', 'Perez'] 2
['Sarah', 'Williams'] 2
['Jason', 'Key'] 2
['Christine', 'Smith'] 2
['Jennifer', 'Dixon'] 2
['Timothy', 'Wilson'] 2
['Maxwell', 'Anderson'] 2
['Christina', 'Robinson'] 2
['Abigail', 'Durham'] 2
['Charlotte', 'Graham'] 2
['Tanya', 'Barnes'] 2
['Theresa', 'Gentry'] 2
['Donald', 'Nicholson'] 2
['Nathan', 'Smith'] 2
['Sarah', 'Briggs'] 2
['Joshua', 'Thomas'] 2
['Alexander', 'Wilson'] 2
['David', 'Smith'] 2
['Rebecca', 'Reilly'] 2
['Paul', 'Bowers'] 2
['Teresa', 'Chapman'] 2
['Kimberly', 'Case'] 2
['Guy', 'Goodwin'] 2
['Brenda', 'Rivera'] 2
['Gregory', 'Shepherd'] 2
['Kenneth', 'Simon'] 2
['James', 'Stone'] 2
['Scott', 'Smith'] 2
['Kevin', 'Costa'] 2
['Kayla', 'Williams'] 2
['Joshua', 'Burch'] 2
['Emily', 'Washington'] 2
['Elizabeth', 'Graham'] 2
['Kristy', 'Perry'] 2
['Stacey', 'Rodriguez'] 2
['Brittany', 'Harper'] 2
['Robert', 'Pollard'] 2
['Heidi', 'Gomez'] 2
['Mark', 'White'] 2
['Dustin', 'Meyer'] 2
['Stephanie', 'Pham'] 2
['Jeffery', 'Howard'] 2
['Christina', 'Owen'] 2
['Ana', 'Ellis'] 2
['Evan', 'Jones'] 2
['William', 'Schmidt'] 2
['Elizabeth', 'Johnson'] 2
['Ronald', 'Yates'] 2
['Kenneth', 'Collins'] 2
['Stacey', 'Jennings'] 2
['Brandy', 'Cox'] 2
['Ann', 'Garcia'] 2
['David', 'Young'] 2
['Steven', 'Thompson'] 2
['Kaitlyn', 'Davis'] 2
['Patricia', 'Maddox'] 2
['Dylan', 'Ray'] 2
['Sharon', 'Larson'] 2
['Marc', 'Short'] 2
['John', 'Atkins'] 2
['Eugene', 'Johnson'] 2
['Terry', 'Torres'] 2
['Eric', 'Huff'] 2
['Joseph', 'Kim'] 2
['Katie', 'Neal'] 2
['Amy', 'Vega'] 2
['Daniel', 'Wilson'] 2
['Kurt', 'Martinez'] 2
['Dennis', 'Rodriguez'] 2
['Elaine', 'Stephens'] 2
['Melissa', 'Graves'] 2
['Adrienne', 'Turner', 'MD'] 3
['Sandra', 'Franco'] 2
['Adam', 'Woods'] 2
['Patrick', 'Joyce'] 2
['Tanya', 'Chen'] 2
['Tracy', 'Dawson'] 2
['Lisa', 'Coleman'] 2
['Brenda', 'Lloyd'] 2
['Brianna', 'Frey'] 2
['Michael', 'Green'] 2
['Megan', 'Page'] 2
['Jordan', 'Long'] 2
['Tracy', 'Lewis'] 2
['Christine', 'Sellers'] 2
['Angela', 'Berger'] 2
['Donald', 'Evans'] 2
['Scott', 'Rowe'] 2
['Veronica', 'Drake'] 2
['David', 'Cohen'] 2
['Mark', 'Rice'] 2
['Jesse', 'Reyes'] 2
['Nicole', 'Ritter'] 2
['Lisa', 'Gentry'] 2
['Terry', 'Scott', 'Jr.'] 3
['Cesar', 'Rodriguez', 'DVM'] 3
['Jennifer', 'Gay', 'MD'] 3
['David', 'House'] 2
['Michael', 'Moore'] 2
['Jared', 'Woodward'] 2
['Ashley', 'Black'] 2
['Adam', 'Hinton'] 2
['Rebecca', 'Sanchez'] 2
['Daniel', 'Harris'] 2
['Angie', 'Vance'] 2
['Zachary', 'Davis'] 2
['Joshua', 'Glass'] 2
['Scott', 'Mack'] 2
['Diane', 'Morse'] 2
['Lori', 'Jenkins'] 2
['Paul', 'Garcia'] 2
['Jonathan', 'Dunn'] 2
['Dustin', 'Butler'] 2
['Cody', 'Cortez'] 2
['Bridget', 'Benitez'] 2
['Mr.', 'Earl', 'Thompson'] 3
['Tracie', 'Stewart'] 2
['Brenda', 'Le'] 2
['Jennifer', 'Combs'] 2
['Elizabeth', 'Stout'] 2
['Edward', 'Lopez'] 2
['Timothy', 'Baird'] 2
['Drew', 'Jones'] 2
['Kevin', 'Gordon'] 2
['Andrew', 'Anthony'] 2
['David', 'Garner'] 2
['Dawn', 'Richards'] 2
['Zachary', 'Sanchez'] 2
['Paul', 'Butler'] 2
['Heidi', 'Rhodes'] 2
['Kimberly', 'Duncan'] 2
['Andrew', 'Jones'] 2
['Scott', 'Walters'] 2
['Travis', 'Johnson'] 2
['Taylor', 'Owen'] 2
['Ryan', 'Reed'] 2
['Erin', 'Miller'] 2
['Tiffany', 'Alvarez'] 2
['Donna', 'Ramirez'] 2
['David', 'Taylor'] 2
['Jacob', 'Roberts'] 2
['John', 'Small'] 2
['Robert', 'Lloyd'] 2
['Joe', 'Ewing'] 2
['William', 'Carter'] 2
['Miss', 'Melinda', 'Thomas'] 3
['Jill', 'Mckinney'] 2
['John', 'Dunn'] 2
['Jordan', 'Martinez'] 2
['Mary', 'Nixon', 'MD'] 3
['Kristin', 'Taylor'] 2
['Ashley', 'Jimenez'] 2
['Jessica', 'Hill'] 2
['Laurie', 'Fowler'] 2
['Michael', 'Johnson'] 2
['Kevin', 'Foster'] 2
['Michael', 'Stevens'] 2
['Tracy', 'Noble'] 2
['Daniel', 'Schultz'] 2
['Bridget', 'Robles'] 2
['Erin', 'Mccann'] 2
['Paul', 'Hayes'] 2
['Glenn', 'Mercer'] 2
['Charles', 'Flores'] 2
['Melissa', 'Wilson'] 2
['Tim', 'Harris'] 2
['John', 'Stuart'] 2
['Kim', 'Williams'] 2
['Andrew', 'Gomez'] 2
['Beverly', 'Whitney'] 2
['Eric', 'Cox'] 2
['Leslie', 'Kelly', 'MD'] 3
['Eric', 'Kelley'] 2
['Olivia', 'Hernandez'] 2
['Patrick', 'Garcia'] 2
['Teresa', 'Schultz'] 2
['Kim', 'Peck'] 2
['Laura', 'Murphy'] 2
['George', 'Green'] 2
['Richard', 'Bowman'] 2
['Jasmine', 'Garcia'] 2
['Victoria', 'Harrell'] 2
['Julie', 'Nelson'] 2
['Mrs.', 'Kristen', 'Gonzalez'] 3
['Michael', 'Carter', 'MD'] 3
['Arthur', 'Martinez'] 2
['James', 'Cruz'] 2
['Brian', 'Monroe'] 2
['Michael', 'Booth'] 2
['Daniel', 'Simpson'] 2
['Kenneth', 'Smith'] 2
['Joseph', 'Mitchell'] 2
['Allen', 'Payne'] 2
['Lisa', 'Ward'] 2
['Teresa', 'Miller'] 2
['Daniel', 'Wallace'] 2
['Sheena', 'Hill'] 2
['Sarah', 'Scott'] 2
['Michael', 'James'] 2
['Angela', 'Thompson'] 2
['Lindsay', 'Ortiz'] 2
['Catherine', 'Wilson'] 2
['Jill', 'Kim'] 2
['Lauren', 'Wilson'] 2
['Stacey', 'Lee'] 2
['Carmen', 'Kim'] 2
['Jennifer', 'Weaver'] 2
['Kristi', 'Castillo'] 2
['Matthew', 'Perez'] 2
['Diana', 'Mcdaniel'] 2
['Julia', 'King'] 2
['Susan', 'Thomas'] 2
['Lisa', 'Price'] 2
['Nancy', 'Hopkins'] 2
['Danny', 'Miller'] 2
['Paul', 'Ewing'] 2
['Frank', 'Davis'] 2
['Jeffrey', 'Schultz'] 2
['Misty', 'Nguyen'] 2
['Leroy', 'Shaffer'] 2
['Raymond', 'Hawkins'] 2
['Robert', 'Lewis'] 2
['Anna', 'Jacobs'] 2
['Nathan', 'Adams'] 2
['Christy', 'Ryan'] 2
['Madison', 'Palmer'] 2
['Christina', 'Hall'] 2
['Charles', 'Dickson'] 2
['Pamela', 'Thompson'] 2
['Meghan', 'Williams'] 2
['Gerald', 'Jones'] 2
['Tara', 'Simpson'] 2
['Ryan', 'Fernandez'] 2
['Marissa', 'Wilson'] 2
['Heather', 'Leblanc'] 2
['Andrea', 'Lee'] 2
['Erica', 'Singh'] 2
['Matthew', 'Crane'] 2
['Jennifer', 'Weaver'] 2
['Brian', 'Thomas'] 2
['Elizabeth', 'Lamb'] 2
['Dakota', 'Marshall'] 2
['Kelly', 'Donaldson'] 2
['Donald', 'Scott'] 2
['Mark', 'Smith'] 2
['Todd', 'Johnson'] 2
['Robin', 'Mathis'] 2
['Carlos', 'Gutierrez'] 2
['Katherine', 'Porter'] 2
['Denise', 'Perry'] 2
['Andrew', 'Nelson'] 2
['Michael', 'Hartman'] 2
['Andrea', 'Sanchez'] 2
['Ronnie', 'Powell'] 2
['Matthew', 'Davis'] 2
['Kristina', 'Morrison'] 2
['Kevin', 'Pierce'] 2
['Frank', 'Mitchell'] 2
['Tony', 'Hoover'] 2
['Jessica', 'Roach'] 2
['Danielle', 'Rodriguez'] 2
['Tracy', 'Nguyen'] 2
['Kelly', 'Bridges'] 2
['Joseph', 'Mcgrath'] 2
['Austin', 'Wilcox'] 2
['Katherine', 'Sims'] 2
['Mary', 'Miller'] 2
['Martin', 'Taylor'] 2
['Madison', 'Suarez'] 2
['Betty', 'Campbell'] 2
['Anna', 'Jackson'] 2
['Anthony', 'Reynolds'] 2
['Joseph', 'Perez', 'DDS'] 3
['Matthew', 'Dougherty'] 2
['Angela', 'Hill'] 2
['Stephanie', 'Long'] 2
['Kathy', 'Gonzales'] 2
['Kayla', 'Myers'] 2
['Edward', 'Jones'] 2
['Tiffany', 'Cook'] 2
['Bradley', 'Miller'] 2
['Lisa', 'Blackburn'] 2
['Sara', 'Williams'] 2
['Gregory', 'Howell'] 2
['Sarah', 'Allen'] 2
['Russell', 'Schmitt'] 2
['Peter', 'Stone'] 2
['Gerald', 'Estes'] 2
['Holly', 'Moore'] 2
['Allison', 'Webb'] 2
['Steven', 'Reynolds'] 2
['Mrs.', 'Alice', 'Warren'] 3
['Nichole', 'Perez'] 2
['Autumn', 'Green'] 2
['Eileen', 'Rios'] 2
['Jennifer', 'Cooper'] 2
['Martha', 'Molina'] 2
['Judith', 'Potter'] 2
['Evan', 'Martin'] 2
['Heather', 'Bailey'] 2
['Thomas', 'Clark'] 2
['Brian', 'Arnold'] 2
['Julia', 'Kelley', 'MD'] 3
['Evan', 'Mitchell'] 2
['Susan', 'Roberts'] 2
['Shannon', 'Lopez'] 2
['James', 'Williams'] 2
['Allison', 'Kerr'] 2
['Tiffany', 'Mccarthy'] 2
['Christina', 'Moreno'] 2
['Tony', 'Byrd'] 2
['Jared', 'Mcdonald'] 2
['Zoe', 'Allen'] 2
['Laura', 'Baker'] 2
['James', 'Hale'] 2
['Timothy', 'Obrien'] 2
['Mariah', 'Proctor'] 2
['Mary', 'Rogers'] 2
['Amber', 'Thompson'] 2
['Yolanda', 'Ochoa'] 2
['Debra', 'Rosales'] 2
['Joseph', 'Wood'] 2
['Andre', 'Fisher'] 2
['David', 'Coffey', 'PhD'] 3
['Kelly', 'Hernandez'] 2
['Cheryl', 'Diaz'] 2
['Linda', 'Chambers'] 2
['William', 'Sandoval'] 2
['Kristen', 'Crawford'] 2
['Erica', 'King'] 2
['Eric', 'Carson'] 2
['James', 'Cruz'] 2
['Nathan', 'Maldonado'] 2
['David', 'Rodriguez'] 2
['Justin', 'Williams'] 2
['Jason', 'Shaw'] 2
['Mrs.', 'Pam', 'Wolf', 'DDS'] 4
['Catherine', 'Cross'] 2
['Melissa', 'Johnson'] 2
['Lori', 'Wilkerson'] 2
['Katherine', 'Hardin'] 2
['Kevin', 'Vasquez'] 2
['Stephanie', 'Franklin'] 2
['Edward', 'Parrish'] 2
['Caitlin', 'Williams'] 2
['Mark', 'Sanchez'] 2
['Lindsey', 'Benson'] 2
['Rachel', 'Miller'] 2
['Andrea', 'Mack'] 2
['Sarah', 'Brown'] 2
['Lisa', 'Fitzgerald'] 2
['Jessica', 'Prince'] 2
['Jeffery', 'King'] 2
['Travis', 'Spencer'] 2
['Erica', 'Tucker'] 2
['Lauren', 'Casey'] 2
['Emily', 'Williams'] 2
['Kevin', 'Thomas'] 2
['Amanda', 'Small'] 2
['Kerri', 'Torres'] 2
['Danny', 'Powers'] 2
['Jessica', 'Cohen'] 2
['Jeffrey', 'Duarte'] 2
['Crystal', 'Fields'] 2
['Henry', 'Tucker'] 2
['Kenneth', 'Carter'] 2
['Courtney', 'Miller'] 2
['Eric', 'Benson'] 2
['Joshua', 'Vargas'] 2
['Rebekah', 'Perkins'] 2
['Mr.', 'Ryan', 'Thomas'] 3
['Pamela', 'Brooks'] 2
['Bridget', 'Shah'] 2
['Cassidy', 'Carter'] 2
['Kelly', 'Michael'] 2
['Michael', 'Flores'] 2
['Robert', 'Wilcox'] 2
['Christopher', 'Melton'] 2
['Stephanie', 'Johnson'] 2
['Thomas', 'Payne'] 2
['Elizabeth', 'Miller'] 2
['Pamela', 'Thomas'] 2
['Victoria', 'Nguyen'] 2
['Brian', 'Mills'] 2
['Deborah', 'Holloway'] 2
['David', 'Gray'] 2
['Kathleen', 'Lewis'] 2
['Michelle', 'Pratt'] 2
['Steven', 'Brown'] 2
['James', 'Wallace'] 2
['Amy', 'Hayes'] 2
['Matthew', 'Nunez'] 2
['Joseph', 'Gentry'] 2
['Heidi', 'Johnson'] 2
['Nancy', 'Harris'] 2
['Ashley', 'Hill'] 2
['Jeffery', 'Abbott'] 2
['Gregory', 'Morgan', 'MD'] 3
['Daniel', 'Herrera'] 2
['Pamela', 'Salinas'] 2
['Sarah', 'Johnson'] 2
['Jason', 'Gonzalez'] 2
['Richard', 'Alexander'] 2
['Randy', 'Richards'] 2
['Adriana', 'Reyes'] 2
['Carrie', 'Meyer'] 2
['Phillip', 'Lin'] 2
['Daniel', 'Mack'] 2
['Kimberly', 'Roach'] 2
['Dakota', 'Barry'] 2
['Latoya', 'Graham'] 2
['Manuel', 'Lane'] 2
['Kathy', 'Jones'] 2
['Charles', 'Petty'] 2
['Brent', 'Matthews'] 2
['Amy', 'Lucas'] 2
['Christopher', 'Black'] 2
['Alyssa', 'Burns'] 2
['Jeffrey', 'Evans'] 2
['Dr.', 'Carol', 'Williams'] 3
['Kelly', 'Chambers'] 2
['Kayla', 'Anderson'] 2
['Andrew', 'Ellis'] 2
['Michelle', 'Cook'] 2
['Victoria', 'Martin'] 2
['Joshua', 'Underwood'] 2
['Matthew', 'Howard'] 2
['Michelle', 'Gray'] 2
['Ms.', 'Rebecca', 'Gonzales'] 3
['James', 'Schmidt'] 2
['Mrs.', 'Samantha', 'Glover'] 3
['Theresa', 'Nelson'] 2
['Raymond', 'Jackson'] 2
['Yvette', 'Ashley'] 2
['David', 'Moss'] 2
['Elizabeth', 'Howard'] 2
['Shelby', 'George'] 2
['Justin', 'Frazier'] 2
['Chelsea', 'Adams'] 2
['Erika', 'Payne'] 2
['Anna', 'Decker', 'MD'] 3
['Linda', 'Mccann'] 2
['Leslie', 'Fowler'] 2
['Robin', 'Morris'] 2
['Samuel', 'Campbell'] 2
['Angela', 'Pennington'] 2
['Andrew', 'Stephenson'] 2
['Sandra', 'Mcbride'] 2
['Hailey', 'Lopez', 'DDS'] 3
['Walter', 'Stokes'] 2
['Dave', 'Diaz'] 2
['Robert', 'Coleman'] 2
['Andrew', 'Gibson'] 2
['Kristina', 'Snow'] 2
['Michael', 'Martinez'] 2
['Patrick', 'Jenkins'] 2
['Larry', 'Scott'] 2
['Dana', 'Kidd'] 2
['Amber', 'Lewis'] 2
['Alan', 'Simmons'] 2
['Rebecca', 'Joseph'] 2
['Brian', 'Acosta'] 2
['Kimberly', 'Erickson'] 2
['Cynthia', 'Maldonado'] 2
['Anthony', 'Flores'] 2
['Jacob', 'Mills'] 2
['Mr.', 'James', 'Baker'] 3
['Cynthia', 'Martin'] 2
['Natalie', 'Taylor'] 2
['Ashley', 'Mcdonald'] 2
['Kirk', 'Vaughn'] 2
['Dustin', 'Ray'] 2
['Gabriel', 'Miller'] 2
['Deborah', 'Griffith'] 2
['Christopher', 'Rose'] 2
['Maria', 'Kirk'] 2
['Nancy', 'Fox'] 2
['Heather', 'Davis'] 2
['Taylor', 'Smith'] 2
['Mrs.', 'Amber', 'Gonzalez'] 3
['Leslie', 'Nelson'] 2
['John', 'Escobar'] 2
['Robert', 'Harper'] 2
['Angela', 'Mooney'] 2
['Chad', 'Dudley'] 2
['Richard', 'Lee'] 2
['Elizabeth', 'Ross'] 2
['Cheryl', 'Garner'] 2
['Debbie', 'Garrison'] 2
['Nicole', 'Shaw'] 2
['Kayla', 'Jones'] 2
['Cristina', 'Drake'] 2
['Mr.', 'Jason', 'Patel', 'Jr.'] 4
['Tina', 'Salazar'] 2
['Timothy', 'Ward'] 2
['Jeremiah', 'Arroyo'] 2
['Ryan', 'Barnes'] 2
['Jennifer', 'Robinson'] 2
['Matthew', 'Walsh'] 2
['Marissa', 'Reed'] 2
['Matthew', 'Ritter'] 2
['Jennifer', 'Kelley'] 2
['David', 'Silva'] 2
['Reginald', 'Johnson'] 2
['Logan', 'White'] 2
['Cheryl', 'Reynolds'] 2
['Kelly', 'Mclean'] 2
['Laura', 'Richardson'] 2
['Maria', 'Davis'] 2
['Amy', 'Anderson'] 2
['Timothy', 'Smith'] 2
['Laura', 'Kidd'] 2
['Lydia', 'Gomez'] 2
['Stephanie', 'Walker', 'DDS'] 3
['Joseph', 'Daniels'] 2
['Tracey', 'Hernandez'] 2
['Barry', 'Bridges'] 2
['David', 'Lin'] 2
['Ariel', 'Reynolds'] 2
['Mr.', 'Timothy', 'Scott'] 3
['Jonathan', 'Crawford'] 2
['Natalie', 'Dunn'] 2
['Shawn', 'Williams'] 2
['Jennifer', 'Parsons'] 2
['Adam', 'Haley'] 2
['Mary', 'Berry'] 2
['Amy', 'Payne'] 2
['Emily', 'Neal'] 2
['Ashlee', 'Cooley'] 2
['Kenneth', 'Lane'] 2
['Joseph', 'Garcia'] 2
['Dr.', 'Michael', 'Sullivan', 'DDS'] 4
['Christopher', 'Henderson'] 2
['Javier', 'Zamora'] 2
['Theresa', 'Oconnor'] 2
['Jamie', 'Campbell'] 2
['Paige', 'Bates'] 2
['Kelly', 'Lane'] 2
['Steven', 'Hernandez'] 2
['Kristen', 'Sims'] 2
['Todd', 'Fields'] 2
['Larry', 'Holmes'] 2
['Michael', 'Miller'] 2
['Doris', 'Taylor'] 2
['Margaret', 'Hodge'] 2
['Vanessa', 'Burton'] 2
['Debra', 'Thomas'] 2
['Donna', 'Ellison'] 2
['Mrs.', 'Brittney', 'Schultz', 'DVM'] 4
['Sean', 'Morrison'] 2
['Dillon', 'Davidson'] 2
['Timothy', 'Conner'] 2
['Catherine', 'Romero'] 2
['Michael', 'Williams'] 2
['Susan', 'Greer'] 2
['John', 'Bentley'] 2
['Craig', 'Wells'] 2
['Aaron', 'Martin'] 2
['Alexandra', 'Wright'] 2
['Elizabeth', 'Mccoy'] 2
['Steven', 'Johnson'] 2
['Donna', 'Morales'] 2
['Sean', 'Morales'] 2
['Ashley', 'Park'] 2
['Kristy', 'Ruiz'] 2
['Jason', 'Fisher'] 2
['Gloria', 'Hamilton'] 2
['Evan', 'Moreno'] 2
['Betty', 'Jackson'] 2
['Courtney', 'Santos'] 2
['Lisa', 'Jackson'] 2
['Keith', 'Petty'] 2
['Randy', 'Travis'] 2
['Michael', 'Morgan'] 2
['Stephen', 'Miller'] 2
['Brian', 'Burton'] 2
['Debra', 'Williams'] 2
['Dr.', 'Frances', 'Romero'] 3
['Edgar', 'Garcia'] 2
['Eric', 'Williams'] 2
['Louis', 'Elliott'] 2
['Robin', 'Jones'] 2
['Lynn', 'Duncan'] 2
['Anthony', 'Nunez'] 2
['William', 'Newman'] 2
['Taylor', 'Salinas'] 2
['Lauren', 'Kelly'] 2
['Jordan', 'Hamilton'] 2
['Joel', 'Curry'] 2
['Andres', 'Reyes'] 2
['Thomas', 'Pham'] 2
['Gregory', 'Graham'] 2
['Nicholas', 'White'] 2
['Kevin', 'Rowe'] 2
['Michael', 'Palmer'] 2
['Jim', 'Carrillo'] 2
['Katherine', 'Russell'] 2
['Spencer', 'Johnson'] 2
['Mary', 'Taylor'] 2
['Henry', 'Burke'] 2
['Kelly', 'Weaver'] 2
['Christopher', 'Johnson'] 2
['Janice', 'Martin'] 2
['Taylor', 'Cooke'] 2
['Chad', 'Medina'] 2
['Ashley', 'Romero'] 2
['Samantha', 'Steele'] 2
['Stacey', 'Taylor'] 2
['Vicki', 'Meyer'] 2
['Taylor', 'Thomas'] 2
['Peggy', 'King'] 2
['Alexandra', 'Williams'] 2
['Sandra', 'Griffin'] 2
['Yolanda', 'Le'] 2
['Dennis', 'Bradford'] 2
['Ann', 'Duffy'] 2
['Rachel', 'Butler'] 2
['Robert', 'Smith'] 2
['Melissa', 'Hooper'] 2
['Amber', 'Anderson'] 2
['George', 'Collins'] 2
['Robert', 'Reid'] 2
['Stephen', 'Jones'] 2
['Brenda', 'Taylor'] 2
['Denise', 'Foster'] 2
['Alexandria', 'Carpenter'] 2
['Luke', 'Brown'] 2
['Michael', 'Clements'] 2
['Tiffany', 'Francis'] 2
['Shannon', 'Carson'] 2
['Tracey', 'Liu'] 2
['Logan', 'Osborn'] 2
['John', 'Roberson'] 2
['Dennis', 'Anderson'] 2
['Kelly', 'Diaz'] 2
['Chad', 'Carr'] 2
['John', 'Bailey'] 2
['Dennis', 'Peters'] 2
['Laura', 'Bennett', 'DDS'] 3
['Charles', 'Brown'] 2
['Marissa', 'Richardson'] 2
['Amy', 'Davis'] 2
['Andrea', 'Johnson'] 2
['Jessica', 'Brewer'] 2
['Ashley', 'Lynch'] 2
['Christine', 'Howell'] 2
['Luis', 'Cannon'] 2
['Jennifer', 'Phillips'] 2
['Maria', 'Davis'] 2
['Thomas', 'Anderson'] 2
['Annette', 'Davis'] 2
['David', 'Price'] 2
['Christina', 'Carter'] 2
['Laura', 'Smith'] 2
['Stacey', 'Mitchell'] 2
['Michelle', 'Davis'] 2
['Shane', 'Lindsey'] 2
['Denise', 'Moore'] 2
['Kendra', 'Flynn'] 2
['Austin', 'Burke'] 2
['David', 'Chapman'] 2
['Malik', 'Thomas'] 2
['Cynthia', 'Lloyd'] 2
['Theresa', 'Ryan'] 2
['Amber', 'Reynolds'] 2
['Allen', 'Goodwin', 'DDS'] 3
['Terry', 'Diaz'] 2
['Jeffrey', 'Davis'] 2
['Diana', 'Jones'] 2
['Mia', 'Gould'] 2
['Katherine', 'Johnson'] 2
['Michael', 'Williams'] 2
['Joseph', 'Turner'] 2
['Peter', 'Potter'] 2
['Ryan', 'Kim'] 2
['Janice', 'Yoder'] 2
['Carolyn', 'Webb'] 2
['Elizabeth', 'Bush'] 2
['Jaime', 'Edwards'] 2
['Bethany', 'Smith'] 2
['Wanda', 'Grimes'] 2
['Karina', 'Allison'] 2
['Timothy', 'Smith'] 2
['Jason', 'Harris'] 2
['Thomas', 'Smith'] 2
['John', 'Whitaker'] 2
['Kimberly', 'Brown', 'MD'] 3
['Barbara', 'Miller'] 2
['Madeline', 'Lopez'] 2
['Carlos', 'Fischer'] 2
['Amy', 'Collins'] 2
['Abigail', 'White'] 2
['Joanne', 'Strickland'] 2
['Maria', 'Hernandez'] 2
['Sandra', 'Mcdowell'] 2
['Kristin', 'Krause'] 2
['Alicia', 'Reese'] 2
['Isaac', 'Holt'] 2
['Jonathan', 'Garza'] 2
['Phillip', 'Smith'] 2
['Amanda', 'Vazquez'] 2
['Jaime', 'Holland'] 2
['Tina', 'Rhodes'] 2
['John', 'Wells'] 2
['Lindsay', 'Dougherty'] 2
['Caitlyn', 'Vega'] 2
['Kevin', 'Campbell'] 2
['Michael', 'Everett'] 2
['Christian', 'Martinez'] 2
['Chad', 'Rivera'] 2
['Amanda', 'Ferrell'] 2
['Natasha', 'Murphy'] 2
['Kathleen', 'Cook'] 2
['Steven', 'Lewis', 'Jr.'] 3
['Raymond', 'Hardy'] 2
['Michael', 'Hill'] 2
['Mary', 'Summers'] 2
['Barbara', 'Cardenas'] 2
['Angela', 'Garcia', 'DDS'] 3
['Ronnie', 'Craig'] 2
['Chad', 'Miller'] 2
['Margaret', 'Perez'] 2
['Michael', 'Rodriguez'] 2
['Preston', 'Davis'] 2
['Michael', 'Reed'] 2
['Matthew', 'Ball'] 2
['Larry', 'Robinson'] 2
['Kyle', 'Gonzalez'] 2
['Sarah', 'Atkinson'] 2
['William', 'Foster', 'PhD'] 3
['Michael', 'James'] 2
['Michael', 'Strong'] 2
['Kenneth', 'Moore'] 2
['Brittney', 'Coleman'] 2
['Jacob', 'Stein'] 2
['Jason', 'Rodgers'] 2
['Jose', 'Newton'] 2
['John', 'Wheeler'] 2
['April', 'Ellis'] 2
['Caleb', 'Young'] 2
['Derrick', 'Alexander'] 2
['Jasmine', 'Li'] 2
['Michael', 'Higgins'] 2
['Joel', 'French'] 2
['Sheri', 'Taylor'] 2
['Vanessa', 'Wagner'] 2
['Amanda', 'Ramirez'] 2
['Susan', 'Gates'] 2
['Jason', 'Lawrence'] 2
['Jonathan', 'Alvarez'] 2
['Joshua', 'Graham'] 2
['Jeffery', 'Gomez'] 2
['Sara', 'Hughes'] 2
['Sandy', 'Johns'] 2
['Melissa', 'Carter'] 2
['Emma', 'Foley'] 2
['Jennifer', 'Harris'] 2
['Gloria', 'Wilson'] 2
['Angela', 'Daniels'] 2
['Marcus', 'Morgan'] 2
['Joanna', 'Allen'] 2
['Lisa', 'Kennedy'] 2
['Joseph', 'Stewart'] 2
['Lindsey', 'Thompson'] 2
['Lori', 'Dickson'] 2
['Jeremy', 'Edwards'] 2
['Joseph', 'Burgess'] 2
['Antonio', 'Kirk'] 2
['Renee', 'Mcdonald'] 2
['Kelli', 'Barnes'] 2
['Lucas', 'Williams', 'Jr.'] 3
['Kathleen', 'Barr'] 2
['Nancy', 'Silva'] 2
['Rachel', 'Murphy'] 2
['Rhonda', 'Rodriguez'] 2
['Tammy', 'Torres'] 2
['Jennifer', 'White'] 2
['Carrie', 'Stewart'] 2
['Karen', 'Rogers'] 2
['Dr.', 'Kimberly', 'Page'] 3
['Catherine', 'Mendoza'] 2
['Stacy', 'Wells'] 2
['Crystal', 'Smith'] 2
['Ernest', 'Lawrence'] 2
['Sharon', 'Nguyen'] 2
['Mary', 'Coffey'] 2
['Kimberly', 'Pruitt'] 2
['Richard', 'Mcdonald'] 2
['Gregory', 'Taylor'] 2
['Joseph', 'Ho'] 2
['Anna', 'Smith'] 2
['Daniel', 'Best'] 2
['Terri', 'Johnston'] 2
['Katherine', 'Harrison'] 2
['Megan', 'Carson'] 2
['Stephanie', 'Wilson'] 2
['Samantha', 'Johnson'] 2
['Andrew', 'Merritt'] 2
['Susan', 'Simon'] 2
['Maria', 'Shields'] 2
['Samuel', 'Casey'] 2
['Robert', 'Wood'] 2
['Jonathan', 'Mueller'] 2
['Diane', 'Miller'] 2
['Brett', 'Arnold'] 2
['Brian', 'Williams'] 2
['Shawn', 'Hayden'] 2
['Emily', 'Gomez'] 2
['Kerri', 'Berger'] 2
['Laura', 'Webster'] 2
['Elizabeth', 'Aguirre'] 2
['Victoria', 'Bailey'] 2
['Monica', 'Hampton'] 2
['Catherine', 'Lee'] 2
['Cheyenne', 'Hernandez'] 2
['Jonathan', 'Sullivan'] 2
['Deborah', 'Higgins', 'DDS'] 3
['Steven', 'Jackson'] 2
['Cristian', 'Webster'] 2
['Audrey', 'Fry'] 2
['Michael', 'Carroll'] 2
['Raymond', 'Hawkins'] 2
['Christopher', 'Wilson'] 2
['Glenda', 'Fletcher'] 2
['Jennifer', 'Hamilton'] 2
['Shannon', 'Williams'] 2
['Lori', 'Moore'] 2
['William', 'Hubbard'] 2
['Bradley', 'Johnson'] 2
['John', 'Brooks'] 2
['Stephanie', 'Contreras'] 2
['Kristen', 'Gonzalez'] 2
['Kari', 'Holloway'] 2
['Kimberly', 'Cabrera'] 2
['Katie', 'Weaver'] 2
['April', 'Reyes'] 2
['Derek', 'Weeks'] 2
['John', 'Reese'] 2
['Joseph', 'Anthony'] 2
['Donna', 'Howard'] 2
['Dawn', 'Bell'] 2
['Rebecca', 'Tanner'] 2
['Desiree', 'Kidd'] 2
['Carolyn', 'Jackson'] 2

In [11]:
## copy names with more than 2 parts to the 'students_to_fix' list 

students_to_fix = []

for name in student_name_ls:
    if len(name.split()) >=3:
        students_to_fix.append(name)

## copy the Prefixes only to the 'prefixes' list
prefixes = []

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

## copy the Suffixes only to the 'suffixes' list
suffixes = []

for name in students_to_fix:
    if len(name.split()[-1]) <= 3: 
        suffixes.append(name.split()[-1])

## view distinct values from 'prefixes' list
set(prefixes)

{'Adam',
 'Amy',
 'Anna',
 'Anne',
 'Carl',
 'Chad',
 'Cody',
 'Cory',
 'Dale',
 'Dana',
 'Dawn',
 'Dr.',
 'Emma',
 'Eric',
 'Erik',
 'Erin',
 'Gail',
 'Gary',
 'Gina',
 'Greg',
 'Ian',
 'Jill',
 'Jodi',
 'Joe',
 'John',
 'Jon',
 'Jose',
 'Judy',
 'Kara',
 'Kari',
 'Kim',
 'Kyle',
 'Leah',
 'Lisa',
 'Lori',
 'Luke',
 'Lynn',
 'Marc',
 'Mark',
 'Mary',
 'Mike',
 'Miss',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Noah',
 'Omar',
 'Paul',
 'Ruth',
 'Ryan',
 'Sara',
 'Sean',
 'Seth',
 'Tara',
 'Tina',
 'Todd',
 'Toni',
 'Tony',
 'Troy'}

In [12]:
## view distinct values from 'suffixes' list
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [13]:
## add distinct values from the Prefixes and Suffixes lists to new 'prefix_suffix' list
prefix_suffix = [' DDS',' DVM',' MD',' PhD','Dr. ','Miss ','Mr. ','Mrs. ','Ms. ']
prefix_suffix

[' DDS', ' DVM', ' MD', ' PhD', 'Dr. ', 'Miss ', 'Mr. ', 'Mrs. ', 'Ms. ']

In [14]:
## replace all 'prefixes' and 'suffixes' with "" to remove them

for word in prefix_suffix:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

## create list of 'clean_names' and print to screen for validation 
clean_names = student_data_df["student_name"].tolist()

students_fixed = []

for name in clean_names:
    if len(name.split()) >=3:
        students_fixed.append(name)

In [15]:
sample = [students_fixed[0:11]]
sample

## Yay! Everyone in "students_fixed" list has more than a first and last name, but it's an appropriate suffix

[['Joseph Morales III',
  'Xavier Bell II',
  'David Miller Jr.',
  'Reginald Garcia IV',
  'Kevin Brown IV',
  'William Washington Jr.',
  'Juan Bryant II',
  'Kenneth Paul Jr.',
  'Scott Rivers III',
  'Mark Myers Jr.',
  'Michael Norton Jr.']]

In [16]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [17]:
clean_students_df = pd.read_csv("Resources/clean_students_complete.csv")
clean_students_df

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [18]:
school_data_complete_df = pd.merge(clean_students_df, schools_data_df, on=["school_name", "school_name"])
school_data_complete_df

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [19]:
## get the total number of students
student_count = school_data_complete_df.count()
student_count

Unnamed: 0       39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [20]:
school_count = schools_data_df.school_name.count()
school_count

15

In [37]:
## calculate the total number of schools
school_count = school_data_complete_df["school_name"].unique()
school_count

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [38]:
total_schools = len(school_data_complete_df["school_name"].unique())
total_schools

15

In [39]:
##calculate the total budget
total_budget = schools_data_df['budget'].sum()
total_budget

24649428

In [40]:
## find the average reading score
avg_reading = school_data_complete_df['reading_score'].mean()
avg_reading

81.87784018381414

In [42]:
## find the average match score
avg_math = school_data_complete_df['math_score'].mean()
avg_math

78.98537145774827

In [43]:
## add students with passing math scores to new DFs
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >=70]
passing_math

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [44]:
## add students with passing reading scores to new DFs
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >=70]
passing_reading

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [45]:
## total students with passing_math score
passing_math_count = passing_math["student_name"].count()

## total students with passing_reading score
passing_reading_count = passing_reading['student_name'].count()

In [46]:
print(passing_math_count)
print(passing_reading_count)

29370
33610

In [47]:
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [48]:
passing_math_percentage = passing_math_count/float(student_count) *100
passing_math_percentage

74.9808526933878

In [49]:
passing_reading_percentage = passing_reading_count/float(student_count) *100
passing_reading_percentage

85.80546336482001

In [50]:
passed_both = school_data_complete_df[(school_data_complete_df['reading_score'] >=70) & (school_data_complete_df['math_score'] >=70)]
passed_both

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [51]:
passed_both_count = passed_both.student_name.count()
passed_both_count

25528

In [52]:
passed_both_percentage = passed_both_count / student_count *100
passed_both_percentage

65.17232575950983

In [57]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": total_schools,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": avg_math,
          "Average Reading Score": avg_reading,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": passed_both_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326